node_modules/
bun.lockb
npm-debug.log*
yarn.lock
pnpm-lock.yaml

dist/
build/
out/
coverage/
.tmp/
.cache/
.vite/

.env
.env.local
.env.development
.env.production
.env.test

.vscode/
.idea/
.DS_Store

logs/
*.log

server/src/db/prisma/generated/

docker-compose.override.yml

Thumbs.db
